<p style="color: green"><%= notice %></p>

<h1>Vendedores</h1>

<div id="sellers">
  <% @sellers.each do |seller| %>
    <%= render seller %>
    <p>
      <%= link_to "Show this seller", seller %>
    </p>
  <% end %>
</div>

<%= link_to "Novo vendedor", new_seller_path, class: "btn btn-primary" %>
